{% extends "whapi_chatbot_app/base.html" %}

{% block title %}Executar Request{% endblock %}

{% block content %}
<h1>Executar Request</h1>
<form method="post" action="{% url 'executar_request' %}">
    {% csrf_token %}
    <button type="submit" class="btn btn-primary">Fazer Request</button>
</form>

{% if resultado %}
<div class="alert alert-info mt-3" role="alert">
    {{ resultado }}
</div>
{% endif %}

{% if erro %}
<div class="alert alert-danger mt-3" role="alert">
    Erro: {{ erro }}
</div>
{% endif %}
{% endblock %}
